<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yin.mapper.TrainMapper">

    <resultMap id="BaseResultMap" type="org.yin.domain.Train">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="trainName" column="train_name" jdbcType="VARCHAR"/>
            <result property="trainType" column="train_type" jdbcType="VARCHAR"/>
            <result property="trainCode" column="train_code" jdbcType="VARCHAR"/>
            <result property="carriageId" column="carriage_id" jdbcType="BIGINT"/>
            <result property="carriageName" column="carriage_name" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,train_name,train_type,
        train_code,carriage_id,carriage_name,
        deleted
    </sql>
</mapper>
